# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
itsup:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

ping:
  entryPoint: web

entryPoints:
  web:
    address: ':8080'
    reusePort: true
    forwardedHeaders:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

  web-secure:
    address: ':8443'
    reusePort: true
    forwardedHeaders:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

  tcp:
    address: ':80'
    reusePort: true
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

  tcp-secure:
    address: ':443'
    reusePort: true
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

providers:
  docker:
    exposedByDefault: false
    endpoint: tcp://127.0.0.1:2375
    network: proxynet
  file:
    directory: /etc/traefik/dynamic
    watch: true

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

log:
  level: INFO
