itsup:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

ping:
  entryPoint: web

entryPoints:
  web:
    address: ':8080'
    forwardedHeaders:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

  websecure:
    address: ':8443'
    forwardedHeaders:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

providers:
  docker:
    exposedByDefault: false
    endpoint: tcp://127.0.0.1:2375
    network: proxynet
  file:
    directory: /etc/traefik/dynamic
    watch: true

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

log:
  level: INFO
