[MESSAGES CONTROL]
disable=
    invalid-name,
    missing-docstring,
    missing-module-docstring,
    missing-timeout,
    no-name-in-module,
    redefined-builtin,
    too-many-arguments,
    unused-argument,
    wrong-import-position

[FORMAT]
max-line-length=120
