projects:
  - description: Home Assistant passthrough
    domain: home.example.com
    name: home-assistant # keep this name as it also makes sure to forward port 80 for certbot
    services:
      - name: 192.168.1.111
        passthrough: true
        port: 443
  - description: itsUP API running on the host
    domain: itsup.example.com
    name: itsUP
    services:
      - name: 172.17.0.1
        port: 8888
  - description: test project to demonstrate inter service connectivity
    domain: hello.example.com
    name: test
    entrypoint: master
    services:
      - image: otomi/nodejs-helloworld:v1.2.13
        name: master
        env:
          TARGET: cost concerned people
          INFORMANT: http://test-informant:8080
        volumes:
          - /data/bla
          - /etc/dida
      - image: otomi/nodejs-helloworld:v1.2.13
        name: informant
        env:
          TARGET: boss
  - description: whoami service
    domain: whoami.example.com
    entrypoint: web
    name: whoami
    services:
      - image: traefik/whoami:latest
        name: web
