accessLog:
  format: json
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep

entryPoints:
  tcp:
    address: ':8080'
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.0/32
        - {{ trusted_ips_cidr }}
    proxyProtocol:
      trustedIPs:
        - 127.0.0.0/32
        - {{ trusted_ips_cidr }}

  tcp-secure:
    address: ':8443'
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - {{ trusted_ips_cidr }}
    proxyProtocol:
      trustedIPs:
        - 127.0.0.1/32
        - {{ trusted_ips_cidr }}

log:
  level: DEBUG

providers:
  file:
    filename: /etc/traefik/routers-tcp.yml
    watch: true

experimental:
  plugins:
    fail2ban:
      moduleName: 'github.com/tomMoulard/fail2ban'
      version: 'v0.7.1'
