accessLog:
  filePath: /var/log/traefik/access.log
  # format: json
  # fields:
  #   defaultMode: keep
  #   headers:
  #     defaultMode: keep

api:
  insecure: false
  dashboard: true
  debug: true

certificatesResolvers:
  letsencrypt:
    acme:
{%- if le_staging %}    
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{%- endif %}
      email: {{ le_email }}
      storage: /etc/acme/acme.json
      tlsChallenge: {}

entryPoints:
  web:
    address: ':8080'
    forwardedHeaders:
      trustedIPs:
        - 172.0.0.0/8
        - 192.168.0.0/16
    proxyProtocol:
      trustedIPs:
        - 172.0.0.0/8
        - 192.168.0.0/16

  web-secure:
    address: ':8443'
    http3:
      advertisedPort: 8443
    forwardedHeaders:
      trustedIPs:
        - 172.0.0.0/8
        - 192.168.0.0/16
    proxyProtocol:
      trustedIPs:
        - 172.0.0.0/8
        - 192.168.0.0/16
    http:
      middlewares:
        - default-headers@file
        - rate-limit@file
{%- if plugin_registry.crowdsec.enabled %}
        - crowdsec@file
{%- endif %}

experimental:
  http3: true
{%- if has_plugins %}  
  plugins:
  {%- if plugin_registry.crowdsec.enabled %}
    {%- set p = plugin_registry.crowdsec %}
    bouncer:
      modulename: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: {{ p.version }}
  {%- endif %}
{%- endif %}

global:
  sendAnonymousUsage: true

log:
  level: DEBUG

providers:
  docker:
    exposedByDefault: false
    endpoint: tcp://dockerproxy:2375
    network: default
  file:
    filename: /etc/traefik/dynamic/routers-web.yml
    watch: true

tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP521
        - CurveP384