accessLog: {}

entryPoints:
  tcp:
    address: ':8080'
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.0/32
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
        - 127.0.0.0/32
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

  tcp-secure:
    address: ':8443'
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}
    proxyProtocol:
      trustedIPs:
        - 127.0.0.0/32
{%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
{%- endfor %}

{%- for p in projects %}
  {%- for s in p.services %}
    {%- for i in s.ingress %}
      {%- set protocol = Protocol(i.protocol).value %}
  {{ protocol }}-{{ i.hostport }}:
    address: ':{{ i.hostport }}/{{ protocol }}'
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
      {%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
      {%- endfor %}
    proxyProtocol:
      trustedIPs:
        - 127.0.0.0/32
      {%- for ip in trusted_ips_cidrs %}
        - {{ ip }}
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

log:
  level: INFO

providers:
  file:
    directory: /etc/traefik/dynamic/
    watch: true
