accessLog: {}
  # format: json
  # fields:
  #   defaultMode: keep
  #   headers:
  #     defaultMode: keep

entryPoints:
  web:
    address: ':8080'
    forwardedHeaders:
      trustedIPs:
        - 172.0.0.0/8
    proxyProtocol:
      trustedIPs:
        - 172.0.0.0/8

  web-secure:
    address: ':8443'
    http3:
      advertisedPort: 8443
    forwardedHeaders:
      trustedIPs:
        - 172.0.0.0/8
    proxyProtocol:
      trustedIPs:
        - 172.0.0.0/8

api:
  insecure: false
  dashboard: true
  debug: true

providers:
  docker:
    exposedByDefault: false
    endpoint: tcp://dockerproxy:2375
    network: default
  file:
    filename: /etc/traefik/routers-web.yml
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      storage: /etc/acme/acme.json
      # tlsChallenge: {}
      httpChallenge:
        entryPoint: web

experimental:
  http3: true

global:
  sendAnonymousUsage: true

log:
  level: DEBUG

