# this is the main proxy that splits traffic based on terminate or passthrough
pid /tmp/nginx;
events {
  worker_connections 1000;
}

http {
  error_log /dev/stderr;
  access_log /dev/stdout;
  map $http_host $backend {
    include /etc/nginx/map/terminate.conf;
  }
  server {
    listen 8080;

    # HACK: allow my HASS domain to do it's own http challenges
    {% if project -%}
    {% set s = project.services[0] -%}
    if ($host = {{ project.domain }}) {
      return 550;
    }
    error_page 550 = @hass;
    location @hass {
      proxy_pass http://{{ s.name }}:{{ s.port }};
    }
    {% endif -%}
    # /HACK

    # allow certbot to do it's thing
    location ~ /.well-known/acme-challenge {
      allow all;
      root /data/certbot;
    }
    # redirect everything else to https
    location / {
      return 301 https://$http_host$request_uri;
    }
  }

}
stream {
  map_hash_bucket_size 128;
  map $ssl_preread_server_name $backend {
    include /etc/nginx/map/passthrough.conf;
    include /etc/nginx/map/internal.conf;
  }
  server {
    resolver 127.0.0.11;
    listen 8443;
    proxy_ssl_name $ssl_preread_server_name;
    proxy_ssl_server_name on;
    proxy_connect_timeout 1s;
    proxy_timeout 3s;
    proxy_pass $backend;
    proxy_protocol on;
    ssl_preread on;
  }
}