{%- if projects|length > 0 -%}
udp:
  routers:
  {%- for p in projects %}
    {%- for s in p.services %}
    {{ p.name }}:
      entryPoints:
        - udp-{{ s.hostport }}
      service: {{ p.name }}-{{ s.name }}
    {%- endfor %}
  {%- endfor %}
  services:
  {%- for p in projects %}
    {%- for s in p.services %}
    {{ p.name }}-{{ s.name }}:
      loadBalancer:
        servers:
          - address: {{ p.name }}-{{ s.name }}:{{ s.port }}
    {%- endfor %}
  {%- endfor %}
{%- endif %}
