{%- if projects|length > 0 -%}
udp:
  routers:
  {%- for p in projects %}
    {%- for s in p.services %}
      {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.name.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      entryPoints:
        - udp-{{ i.hostport }}
      service: {{ name }}
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
  services:
  {%- for p in projects %}
    {%- for s in p.services %}
      {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.name.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      loadBalancer:
        servers:
          - address: {{ p.name }}-{{ s.name }}:{{ i.port }}
      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endif %}
