tcp:
  routers:
{%- for p in projects %}
  {%- for s in p.services %}
    {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.host.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      entryPoints:
      {%- if i.hostport %}
        - tcp-{{ i.hostport }}
      {%- else %}
        - web-secure
      {%- endif %}
      service: {{ name }}
      {%- if i.domain %}
      rule: 'HostSNI(`{{ i.domain }}`){% if i.path_prefix %} && PathPrefix(`{{ i.path_prefix }}`){% endif %}'
      {%- else %}
      rule: 'HostSNI(`*`)'
      {%- endif %}
      {%- if i.passthrough %}
      tls:
        passthrough: true
      {%- elif i.domain %}
      tls:
        certresolver: letsencrypt
      {%- endif %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

  services:
{%- for p in projects %}
  {%- for s in p.services %}
    {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.host.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      loadBalancer:
        {%- if i.proxyprotocol %}
        proxyProtocol:
          version: {{ ProxyProtocol(i.proxyprotocol).value }}
        {%- endif %}
        servers:
          - address: {% if i.hostport %}{{ p.name }}-{% endif %}{{ s.host }}:{{ i.port }}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}
