# load_module modules/ngx_http_js_module.so;
pid /tmp/nginx;

events {
  worker_connections 1000;
}

http {
  # js_import /etc/nginx/snippets/headers.js;
  # js_set $headers_json headers.headers_json;
  # log_format main escape=json '$proxy_protocol_addr - $remote_user [$time_local] '
  #   '"$request" $status $body_bytes_sent '
  #   '"$http_referer" "$http_user_agent" "$headers_json"';
  log_format main '$proxy_protocol_addr - $remote_user [$time_local] '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent"';
  error_log /dev/stderr ;
  access_log /dev/stdout main;
  map $http_host $backend {
    include /etc/nginx/map/terminate.conf;
  }
{% for domain in domains %}  
  server {
    server_name {{ domain }};
    ssl_certificate /certs/{{ domain }}/fullchain.pem;
    ssl_certificate_key /certs/{{ domain }}/privkey.pem;
    include /etc/nginx/snippets/server.conf;
  }
{% endfor %}  
}
