http:
  middlewares:
    default-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        frameDeny: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    rate-limit:
      rateLimit:
        average: 100
        burst: 200
{% if plugin_registry.crowdsec and plugin_registry.crowdsec.enabled %}
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          logLevel: {{ plugin_registry.crowdsec.options.logLevel | upper }}
          updateIntervalSeconds: {{ plugin_registry.crowdsec.options.updateIntervalSeconds }}
          defaultDecisionSeconds: {{ plugin_registry.crowdsec.options.defaultDecisionSeconds }}
          httpTimeoutSeconds: {{ plugin_registry.crowdsec.options.httpTimeoutSeconds }}
          crowdsecMode: live
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: crowdsec:7422
          crowdsecLapiKey: {{ plugin_registry.crowdsec.apikey }}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          forwardedHeadersCustomName: X-Custom-Header
{% endif %}
