# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
tcp:
  serversTransports:
    proxy-transport-v1:
      proxyProtocol:
        version: 1
    proxy-transport-v2:
      proxyProtocol:
        version: 2
  routers:
{%- for p in projects %}
  {%- for s in p.services %}
    {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.host.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      entryPoints:
      {%- if i.hostport %}
        - tcp-{{ i.hostport }}
      {%- else %}
        - web-secure
      {%- endif %}
      {%- if i.domain %}
      rule: 'HostSNI(`{{ i.domain }}`){% if i.path_prefix %} && PathPrefix(`{{ i.path_prefix }}`){% endif %}'
      {%- else %}
      rule: 'HostSNI(`*`)'
      {%- endif %}
      service: {{ name }}
      {%- if i.passthrough %}
      tls:
        passthrough: true
      {%- elif i.domain or i.tls %}
      tls:
        certresolver: letsencrypt
      {%- endif %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

  services:
{%- for p in projects %}
  {%- for s in p.services %}
    {%- for i in s.ingress %}
      {%- set name = p.name ~ '-' ~ s.host.replace('.', '-') ~ '-' ~ i.port %}
    {{ name }}:
      loadBalancer:
        {%- if i.proxyprotocol %}
          {%- if i.proxyprotocol == 1 %}
        serversTransport: proxy-transport-v1
          {%- elif i.proxyprotocol == 2 %}
        serversTransport: proxy-transport-v2
          {%- endif %}
        {%- endif %}
        servers:
          - address: {{ s.host }}:{{ i.port }}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}
