# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

log:
  level: INFO

certificatesResolvers:
  letsencrypt:
    acme:
      email: ${LETSENCRYPT_EMAIL}
      storage: /etc/acme/acme.json
      httpChallenge:
        entryPoint: web

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.5

ping:
  entryPoint: web


providers:
  docker:
    exposedByDefault: false
    endpoint: tcp://127.0.0.1:2375
    network: proxynet
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ':8080'
    reusePort: true
    forwardedHeaders:
      trustedIPs: {{ trusted_ips_cidrs }}
    proxyProtocol:
      trustedIPs: {{ trusted_ips_cidrs }}

  web-secure:
    address: ':8443'
    reusePort: true
    forwardedHeaders:
      trustedIPs: {{ trusted_ips_cidrs }}
    proxyProtocol:
      trustedIPs: {{ trusted_ips_cidrs }}

{%- for project in projects %}
  {%- for ingress in project.ingress %}
  {{ ingress.router }}-{{ ingress.hostport or ingress.port }}:
    address: ':{{ ingress.hostport or ingress.port }}/{{ ingress.protocol }}'
    reusePort: true
    forwardedHeaders:
      trustedIPs: {{ trusted_ips_cidrs }}
    proxyProtocol:
      trustedIPs: {{ trusted_ips_cidrs }}
  {%- endfor %}
{%- endfor %}
